<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:fragment="footerFragment">
	<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5"
		style="margin-top: 90px;">
		<div class="row pt-5">
			<div class="col-lg-3 col-md-6 mb-5">
				<a href="" class="navbar-brand">
					<h1 class="text-primary">
						<span class="text-white">WORTH</span> <span>SEEING</span>
					</h1>
				</a>
				<p>Sed ipsum clita tempor ipsum ipsum amet sit ipsum lorem amet
					labore rebum lorem ipsum dolor. No sed vero lorem dolor dolor</p>

			</div>

			<div class="col-lg-5 col-md-6 mb-5">
				<h5 class="text-white text-uppercase mb-4"
					style="letter-spacing: 5px;">POLICY</h5>
				<p>1. 모든 사용자는 경매 시스템에 참여할 수 있습니다. </p>
				<p>2. 매달 1일 ~ 마지막 날까지 월 단위로 경매를 통해 블록을 구매할 수 있습니다. </p>
				<p>3. 예약은 매달 20일 ~ 22일에 예약금(보증금 = 시작가의 10%)을 결제하여 경매를 예약할 수 있습니다. </p>
				<p>- 경매 예약 시, 입찰 시작 24시간 전과 1시간 전에 자동 문자 서비스로 문자 알림이 전송됩니다. </p>
				<p>4. 매달 23일 12.00 pm ~ 15.00 pm 동안 입찰을 진행합니다. (대한민국 표준시 기준) </p>
				<p>5. 15.00 pm 이후 낙찰자는 매달 27일 12:00 am까지 입금해야 합니다. </p>
				<p>6. 입금 기간에 입금하지 않았을 시, 다음 달 1일부터 상시 판매로 전환됩니다. </p>
				<p> ( 낙찰자의 보증금은 환불되지 않습니다. ) </p>
				<p> 7. 낙찰되지 않은 블록은 매달 1일부터 상시 판매됩니다. </p>
				<p> 8. 낙찰 후 마이페이지에서 썸네일과 URL 하이퍼링크를 등록할 수 있습니다. </p>
				<p> 9. 부적절한 사진이나 링크를 등록 시 사이트 정책 위반으로 공지없이 삭제될 수 있으며 블랙 처리될 수 있습니다.</p>
			</div>

			<div class="col-lg-3 col-md-6 mb-5">
				<h5 class="text-white text-uppercase mb-4"
					style="letter-spacing: 5px;">Contact Us</h5>
				<p>
					<i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA
				</p>
				<p>
					<i class="fa fa-phone-alt mr-2"></i>+012 345 67890
				</p>
				<p>
					<i class="fa fa-envelope mr-2"></i>info@example.com
				</p>
				<h6 class="text-white text-uppercase mt-4 mb-3"
					style="letter-spacing: 5px;">Newsletter</h6>
			</div>
		</div>
	</div>

	<!-- Footer End -->


	<!-- Back to Top -->
	<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i
		class="fa fa-angle-double-up"></i></a>


	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="/lib/easing/easing.min.js"></script>
	<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="/lib/tempusdominus/js/moment.min.js"></script>
	<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
	<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

	<!-- Contact Javascript File -->
	<script src="/mail/jqBootstrapValidation.min.js"></script>
	<script src="/mail/contact.js"></script>

	<!-- Template Javascript -->
	<script src="/js/main.js"></script>
</th:block>

</html>