<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 
<th:block th:fragment="footerFragment">
	<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5"
		style="margin-top: 90px;">
		<div class="row pt-5">
			<div class="col-lg-3 col-md-6 mb-5">
				<a href="" class="navbar-brand">
					<h1 class="text-primary">
						<span class="text-white">WORTH</span> <span style="color: #7FA998">SEEING</span>
					</h1>
				</a>
				<p>Sed ipsum clita tempor ipsum ipsum amet sit ipsum lorem amet
					labore rebum lorem ipsum dolor. No sed vero lorem dolor dolor</p>
				
			</div>
			<div class="col-lg-3 col-md-6 mb-5">
				<h5 class="text-white text-uppercase mb-4"
					style="letter-spacing: 5px;">Contact Us</h5>
				<p>
					<i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA
				</p>
				<p>
					<i class="fa fa-phone-alt mr-2"></i>+012 345 67890
				</p>
				<p>
					<i class="fa fa-envelope mr-2"></i>info@example.com
				</p>
				<h6 class="text-white text-uppercase mt-4 mb-3"
					style="letter-spacing: 5px;">Newsletter</h6>
			</div>
		</div>
	</div>
	
	<!-- Footer End -->


	<!-- Back to Top -->
	<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i
		class="fa fa-angle-double-up"></i></a>


	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="/lib/easing/easing.min.js"></script>
	<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="/lib/tempusdominus/js/moment.min.js"></script>
	<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
	<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

	<!-- Contact Javascript File -->
	<script src="/mail/jqBootstrapValidation.min.js"></script>
	<script src="/mail/contact.js"></script>

	<!-- Template Javascript -->
	<script src="/js/main.js"></script>
</th:block>

</html>