<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="/fragments/header :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<style>
.blockTest {
	position: relative;
	z-index: 1;
}

.tt {
	border: 1px solid gray;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #F3F3F3;
}

.tt img {
	width: 100%;
	height: 100%;
	z-index: 3;
}

.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav div {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	margin-left: 13%;
	text-decoration: none;
}

.numberDisplay {
	display: none;
	border-radius: 50%;
	background: #7AB730;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	width: 50px;
	height: 50px;
	margin-left: 25px;
	margin-top: 20px;
	padding: 8px 0;
}

.numberDisplay {
	border-radius: 50%;
}

.reservationBtn, .betweenDay {
	border: 1px solid #7AB730;
	background-color: rgba(0, 0, 0, 0);
	color: #7AB730;
	padding: 5px;
	font-size: 30px;
	display: none;
	text-align: center;
}

.reservationBtn:hover {
	color: white;
	background-color: #7AB730;
}
</style>

	<script>

	$(document).ready(function() {
		
		// 인기순위 Top 5 이미지 띄우기
		var cImgTopList = encodeURI("[[${listTopcImg}]]");
		top5Img(cImgTopList);
	       
		// 블록 289개 생성
		var cImgList = encodeURI("[[${listcImg}]]");
		createBlock([[${blockGroupSeqList}]], cImgList);
       
		// 오늘 기준으로 이전 날짜 데이터가 있으면 localStorage 리셋
		resetLocalStorage();
		
		var reservationBlockGroupSeqList = [[${reservationBlockGroupSeqList}]]
		
		var betweenDaysList = [[${betweenDaysList}]]
	    var betweenDaysArr = Array.from(betweenDaysList);
		
	    var usingBlockGroupList = [[${usingBlockGroupList}]]
	    var usingBlockGroupArr = Array.from(usingBlockGroupList);
	    
		// 라디오 버튼 클릭 이벤트
		changeRadioBtn(reservationBlockGroupSeqList, betweenDaysArr, usingBlockGroupArr);

	});
	
	</script>

	<th:block th:replace="/fragments/header :: TopbarFragment"></th:block>

	<!-- Carousel Start -->
	<div class="container-fluid p-0">
		<div id="header-carousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img style="height: 700px;" id="topImg1" class="w-100"
						 alt="Image">
					<div
						class="carousel-caption d-flex flex-column align-items-center justify-content-center">
						<div class="p-3" style="max-width: 900px;">
							<p id="rank1" class="textsize100"></p>
							<a th:href="@{${blockGroupLink[0]}}" class="btn btn-primary py-md-3 px-md-5 mt-2">L I N K</a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img style="height: 700px;" id="topImg2" class="w-100"
						alt="Image">
					<div
						class="carousel-caption d-flex flex-column align-items-center justify-content-center">
						<div class="p-3" style="max-width: 900px;">
							<p id="rank2" class="textsize100"></p>
							<a th:href="@{${blockGroupLink[1]}}" class="btn btn-primary py-md-3 px-md-5 mt-2">L I N K</a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img style="height: 700px;" id="topImg3" class="w-100"
						 alt="Image">
					<div
						class="carousel-caption d-flex flex-column align-items-center justify-content-center">
						<div class="p-3" style="max-width: 900px;">
							<p id="rank3" class="textsize100"></p>
							<a th:href="@{${blockGroupLink[2]}}" class="btn btn-primary py-md-3 px-md-5 mt-2">L I N K</a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img style="height: 700px;" id="topImg4" class="w-100"
						 alt="Image">
					<div
						class="carousel-caption d-flex flex-column align-items-center justify-content-center">
						<div class="p-3" style="max-width: 900px;">
							<p id="rank4" class="textsize100"></p>
							<a th:href="@{${blockGroupLink[3]}}" class="btn btn-primary py-md-3 px-md-5 mt-2">L I N K</a>
						</div>
					</div>
				</div>
				
				<div class="carousel-item">
					<img style="height: 700px;" id="topImg5" class="w-100"
						 alt="Image">
					<div
						class="carousel-caption d-flex flex-column align-items-center justify-content-center">
						<div class="p-3" style="max-width: 900px;">
							<p id="rank5" class="textsize100"></p>
							<a th:href="@{${blockGroupLink[4]}}" class="btn btn-primary py-md-3 px-md-5 mt-2">L I N K</a>
						</div>
					</div>
				</div>
				
			</div>
			<a class="carousel-control-prev" href="#header-carousel"
				data-slide="prev">
				<div class="btn btn-dark" style="width: 45px; height: 45px;">
					<span class="carousel-control-prev-icon mb-n2"></span>
				</div>
			</a> <a class="carousel-control-next" href="#header-carousel"
				data-slide="next">
				<div class="btn btn-dark" style="width: 45px; height: 45px;">
					<span class="carousel-control-next-icon mb-n2"></span>
				</div>
			</a>
		</div>
	</div>
	<!-- Carousel End -->

	<div>
		<div class="topnav">
			<div>
				<label> <input type="radio" name="checkbox"
					checked="checked" id="displayBlock" /> 기존 이미지 표시
				</label>
			</div>
			<div>
				<label> <input type="radio" name="checkbox"
					id="displayBlockNum" value="blockNumber" /> 블록 번호
				</label>
			</div>
			<div>
				<label> <input type="radio" name="checkbox"
					id="displayBetweenDay" value="leftTime" /> 남은 사용 시간
				</label>
			</div>
			<div>
				<label> <input type="radio" name="checkbox"
					id="availableReserv" value="reservAvailable" /> 예약 가능 블록
				</label>
			</div>
		</div>
	</div>


	<div>
		<div>
			<br /> <br /> <br />
			<div class="col-lg-4 col-md-6 mb-4 pb-2">


				<div class="blockTest"></div>






			</div>
			<!--     Blog End -->


			<!-- Footer Start -->
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br />

			<div class="sec7-text-box">
				<div class="time font40">
					<span class="hours"></span> <span class="col">:</span> <span
						class="minutes"></span> <span class="col">:</span> <span
						class="seconds"></span>
				</div>

			</div>

		</div>
		<th:block th:replace="/fragments/footer :: footerFragment"></th:block>
	</div>
</body>

</html>