<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="/fragments/header :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<style>
.blockTest {
	position: relative;
	z-index: 1;
}

.tt {
	border: 1px solid black;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: yellow;
}
</style>
	<script>
		function createBlock(number) {

			// 			Block cnt && User Daily Click
			$("#" + number).click(function() {
				location.href = "/click?blockGroup_seq=" + number;
			});
			//현재페이지에서 1클릭씩 증가하는 변수 생성하여 10이되면 알림창 띄우게..

			if (number % 17 == 0) {
				$("#" + number).css('margin-left', 1700 + 'px');
			} else {
				$("#" + number).css('margin-left', 100 * (number % 17) + 'px');
			}

		}

		$(document).ready(
				function() {
					topSize = 0;

					for (var i = 1; i <= 153; i++) {
						var child = "<div class='tt' id=" + i + ">block" + i
								+ "</div>";

						$(".blockTest").append(child);

						createBlock(i);

						if (i % 17 == 0) {
							// 				$("#" + i).css('margin-left', 100 * i + 'px');
							$("#" + i).css('margin-top', topSize + 'px');
							topSize += 100;
						} else {
							$("#" + i).css('margin-top', topSize + 'px');
						}

					}

					$("#12").css('z-index', '50');

					var xindex = parseInt($("#12").css('margin-left')); // 200
					var yindex = parseInt($("#12").css('margin-top')); // 30

					var changedxindex = xindex - 100; // 100
					var changedyindex = yindex; // 0

					$("#12").css('margin-left', changedxindex + 'px');
					$("#12").css('margin-top', changedyindex + 'px');
					$("#12").css('width', '300px');
					$("#12").css('height', '300px');
					$("#12").css('text-align', 'center');

					$("#11").css('z-index', '51');
					$("#13").css('z-index', '51');
					$("#45").css('z-index', '51');
					$("#47").css('z-index', '51');

				});
	</script>
	<div>
		<th:block th:replace="/fragments/header :: TopbarFragment"></th:block>
		<div>
			<br /> <br /> <br />
			<div class="col-lg-4 col-md-6 mb-4 pb-2 blockTest"></div>
			<!--     Blog End -->


			<!-- Footer Start -->
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br />

			<div class="container-fluid py-5">
				<button onclick="location.href='/writeURLThumb';">썸네일 등록테스트</button>
			</div>

			<div class="container-fluid py-5">
				<button onclick="location.href='/mypageMain';">마이페이지로 이동</button>
			</div>
		</div>
		<th:block th:replace="/fragments/footer :: footerFragment"></th:block>
	</div>
</body>

</html>