<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/mypage.css">
</head>
<body>
<div class="row">
  <div class="menuItem">
      <h2>구매 내역</h2>
      
    <table  class="customBoard" th:each="blockGroup, state : ${blockGroupUserId}">
    <tr align="center">
      <th colspan="4" th:text="${blockGroup.blockGroup_seq}"></th>
    </tr>
    <tr align="center">
      <td>구매일수(월)</td>
      <td>결제금액</td>
      <td>종료일자</td>
<!--       <td>잔여일수</td> -->
    </tr>
     <tr align="center">
      <td th:text="${blockGroup.purchaseDay}"></td>
      <td th:text="${blockGroup.price}"></td>
      <td th:text="${blockGroup.endDate}"></td>
<!--       <td>15일</td> -->
    </tr>
    </table>
        <h3>결제정보</h3>
<!--     <table th:each="auction, state : ${auctionList}"> -->
<!--         <tr> -->
<!--             <th scope="row">결제방법</th> -->
<!--             <td>카카오페이</td> -->
<!--              <th scope="row">휴대전화</th> -->
<!--             <td th:text="${users.tel}"></td> -->
<!--         </tr> -->
<!--          <tr> -->
<!--             <th scope="row">-</th> -->
<!--             <td>-</td> -->
<!--              <th scope="row">이메일</th> -->
<!--             <td th:text="${users.email}"></td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <th scope="row">결제금액</th> -->
<!--             <td th:text="${auction.finishPrice}"></td> -->
<!--              <th scope="row">결제상태</th> -->
<!--             <td>✔</td> -->
<!--         </tr> -->
<!--     </table> -->
    </div>
</div>
<button type="button" onclick="">환불요청</button>


</body>
</html>