<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/mypage.css">
</head>
<body>

	<div class="displayTable">
		<div class="menuItem">
			<div>
				<h2>입찰/낙찰 내역</h2>
			</div>
			<div>
				<hr>

				<form th:action="@{/credit}" method="get">
					<table border="1" class="customBoard">
						<tr align="center">
							<th scope="col">No.</th>
							<th scope="col">블록 번호</th>
							<th scope="col">낙찰가</th>
							<th scope="col">낙찰자</th>
							<th scope="col">경매일시</th>
							<th scope="col">낙찰유무</th>
							<th scope="col">결제하기</th>
						</tr>
						<tr align="center" th:each="waiting, state : ${waiting}">
							<td th:text="${state.count}"></td>
							<td  th:text="${waiting.blockGroup.blockGroup_seq}"></td>
							<td th:text="${waiting.price}"></td>
							<td th:text="${waiting.userId}"></td>
							<td th:text="${waiting.auctionDate}"></td>
							<td th:if="${waiting.userId}"><input th:name="blockGroupWaiting_seq" type="hidden" th:value="${waiting.blockGroupWaiting_seq}"></input></td>
							<td><th:block th:if="${waiting.status.status_seq==12}">
									<button type="submit" onclick="this.from.submit();">결제하기로 이동</button>
								</th:block> <th:block th:if="${waiting.status.status_seq!=12}">
									<span>결제 완료</span>
								</th:block></td>
						</tr>

					</table>
				</form>
				<!-- 				<table border="1"> -->
<!-- 					<tr align="center" class="customBoard"> -->
<!-- 						<th scope="col">No.</th> -->
<!-- 						<th scope="col">시작가</th> -->
<!-- 						<th scope="col">입찰가</th> -->
<!-- 						<th scope="col">낙찰자</th> -->
<!-- 						<th scope="col">경매일시</th> -->
<!-- 						<th scope="col">낙찰유무</th> -->
<!-- 					</tr> -->
<!-- 					<tr align="center" th:each="auction, state : ${failedAuctionList}"> -->
<!-- 						<td th:text="${auction.auction_seq}"></td> -->
<!-- 						<td th:text="${auction.auctionPrice}"></td> -->
<!-- 						<td th:text="${auction.finishPrice}"></td> -->
<!-- 						<td ></td> -->
<!-- 						<td th:text="${auction.suggestDate}"></td> -->
<!-- 						<td>X</td> -->
<!-- 					</tr> -->
<!-- 				</table> -->
				
			</div>

		</div>
	</div>


</body>
</html>