<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/mypage.css">
</head>
<body>

	<div class="displayTable">
		<div class="menuItem">
			<div>
				<h2>입찰/낙찰 내역</h2>
			</div>
			<div>
				<hr>
				<table border="1" class="customBoard">
					<tr align="center">
						<th scope="col">No.</th>
						<th scope="col">시작가</th>
						<th scope="col">낙찰가</th>
						<th scope="col">낙찰자</th>
						<th scope="col">경매일시</th>
						<th scope="col">낙찰유무</th>
					</tr>
					<tr align="center" th:each="waiting, state : ${waiting}">
						<td  th:text="${waiting.userId}"></td>
						<td th:text="${waiting.price}"></td>
						<td ></td>
						<td></td>
						<td ></td>
						<td>O</td>
					</tr>
					
				</table>
				
<!-- 				<table border="1"> -->
<!-- 					<tr align="center" class="customBoard"> -->
<!-- 						<th scope="col">No.</th> -->
<!-- 						<th scope="col">시작가</th> -->
<!-- 						<th scope="col">입찰가</th> -->
<!-- 						<th scope="col">낙찰자</th> -->
<!-- 						<th scope="col">경매일시</th> -->
<!-- 						<th scope="col">낙찰유무</th> -->
<!-- 					</tr> -->
<!-- 					<tr align="center" th:each="auction, state : ${failedAuctionList}"> -->
<!-- 						<td th:text="${auction.auction_seq}"></td> -->
<!-- 						<td th:text="${auction.auctionPrice}"></td> -->
<!-- 						<td th:text="${auction.finishPrice}"></td> -->
<!-- 						<td ></td> -->
<!-- 						<td th:text="${auction.suggestDate}"></td> -->
<!-- 						<td>X</td> -->
<!-- 					</tr> -->
<!-- 				</table> -->
				
			</div>

		</div>
	</div>


</body>
</html>