<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/mypage.css">
</head>
<body>

<div class="row">
  <div class="rightcolumn">
    <div class="card">
      <h2>포인트 사용내역</h2>
      </div>
     <div>
     <hr>
	<ul>
	<li class="couponlist">상품명 : 30,000원권 기프티콘
	<div><br />포인트 사용금액</div>
	<div>구매일</div>
	<div>사용일</div><br />
	<div>결제금액</div>
	</li>
	</ul>
	<ul>
	<li class="couponlist">상품명 : 30,000원권 기프티콘
	<div><br />포인트 사용금액</div>
	<div>구매일</div>
	<div>사용일</div><br />
	<div>결제금액</div>
	</li>
	</ul>
	<ul>
	<li class="couponlist">상품명 : 30,000원권 기프티콘
	<div><br />포인트 사용금액</div>
	<div>구매일</div>
	<div>사용일</div><br />
	<div>결제금액</div>
	</li>
	</ul>
	</div>
      
    </div>
</div>


</body>
</html>