<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/mypage.css">
</head>
<body>

	<div class="row">
		<div class="rightcolumn">
			<div class="card">
				<h2>포인트 사용내역</h2>
			</div>

			<table class="couponlist" th:each="coupon, state : ${couponUserId}">
				<tr>
					<th>포인트 사용금액</th>
					<th>구매일시</th>
					<th>기프티콘 시리얼번호</th>
				</tr>
				<tr>
					<td th:text="${coupon.couponPrice}"></td>
					<td th:text="${coupon.couponUsedDate}"></td>
					<td th:text="${coupon.couponSerialNum}"></td>
				</tr>
			</table>
		</div>

	</div>


</body>
</html>