<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/mypage.css">
<script type="text/javascript"></script>
</head>
<body>

<div class="row">
  <div class="rightcolumn">
    <div class="card">
      <h2>포인트 몰</h2>
      </div>
     <div>
     <hr>
     <h4>상품 정보</h4>
	<ul class="listLeftSort">
	<li class="fakeimg">
	<img src="bb.gif" width="200px" height="200px"></li>
	 <li>
<!-- 	 <th:block th:if="${users.point >= 30000}"> -->
<!-- 	<div></div> -->
<!-- <th:block> -->

<!-- <th:block th:if="${info.useYn == 'N'}"> -->
<!-- 	<div>불가능 합니다.</div> -->
<!-- </th:block> -->
	  <a onclick="alert('구매가 완료되었습니다.\n등록하신 휴대폰으로 메세지를 전송하였습니다.');" style="cursor:pointer">구매하기</a></li>
	</ul>
	<ul class="listLeftSort">
	<li class="fakeimg">
	<img src="bb.gif" width="200px" height="200px"></li>
	 <li><button onclick="" type="button">구매하기</button></li>
	</ul>
	<ul class="listLeftSort">
	<li class="fakeimg">
	<img src="bb.gif" width="200px" height="200px"></li>
	 <li><button onclick="" type="button">구매하기</button></li>
	</ul>
	</div>
      
    </div>
</div>

</body>
</html>