<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="/fragments/header :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<div>
		<th:block th:replace="/fragments/header :: TopbarFragment"></th:block>

		<div class="container-fluid py-5">
			<div class="container pt-5 pb-3">
				<form th:action="@{/writeURLThumb}" method="post"
					enctype="multipart/form-data">
					<table class="insertBoard">
						<tr>
							<td th:text="URL"></td>
							<td><input name="linkUrl" type="text" size="50"></td>
						</tr>
						<tr>
							<td th:text="썸네일"></td>
							<td><input type="file" multiple="multiple" name="files">
							</td>
						</tr>
					</table>
					<input type="submit" value="등록하기" class="btn">
				</form>

			</div>
		</div>

		<th:block th:replace="/fragments/footer :: footerFragment"></th:block>
	</div>

</body>

</html>