<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Auction Reservation List</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<meta charset="UTF-8">
</head>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="/fragments/header :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>


<body>
	<div>
		<th:block th:replace="/fragments/header :: TopbarFragment"></th:block>

		<div class="container-fluid py-5">
			<div class="container pt-5 pb-3">
				<table class="customBoard">

					<thead>
						<tr>
							<th>블록 번호</th>
							<th>경매 시작가격</th>
							<th>예약 인원</th>
							<th>예약 취소</th>
							<th>입찰 하러 가기</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="reservationUsers, state : ${reservationUsersList}" >
							<td th:text="${reservationUsers.reservation.blockGroup.blockGroup_seq}"></td>
					        <td th:text="${reservationUsers.reservation.startPrice}"></td>
					        <td th:text="${reservationUsers.reservation.userCnt}"></td>
					        <td><a th:href="@{/reservation/deleteReservation(reservation_seq=${reservationUsers.reservation.reservation_seq},
					        ReservationUsers_seq=${reservationUsers.ReservationUsers_seq})}">예약 취소</a></td>
					        <td ><a th:if="${attendBtn==yes}" th:href="@{/auction(reservation_seq=${reservationUsers.reservation.reservation_seq})}">경매 참여하기</a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<th:block th:replace="/fragments/footer :: footerFragment"></th:block>
	</div>

</body>
</html>